APP_NAME=pluto
APP_URL=http://localhost:8889
APP_DEBUG=true
APP_ENV=local

#DB_DRIVER= mysql, pqsql, sqlite, sqlsrv
DB_DRIVER=mysql    
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASS=

OLLAMA_URL=http://localhost:11434
EMBEDDING_MODEL=nomic-embed-text

QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=my_docs
